:root{
    --grid-width: 700px;
    --grid-height: 300px;
}

.grid{
    border: solid green 2px;
    display: grid;
    width: var(--grid-width);
    height: var(--grid-height);
    
}

.gridSquare{
    border:solid black 0.1em;
    background-color: white;
    color : white;
    width: calc(1/var(--grid-width));
    height: calc(1/var(--grid-height));
    overflow: hidden;
}

.fillInSquare{
    color: gray;
    background-color: gray;
}

.firstOverPass{
    filter:brightness(90%)
}

.secondOverPass{
    filter:brightness(80%);
}

.thirdOverPass{
    filter:brightness(70%);
}

.fourthOverPass{
    filter:brightness(60%);
}

.fifthOverPass{
    filter:brightness(50%);
}

.sixthOverPass{
    filter:brightness(40%);
}

.seventhOverPass{
    filter:brightness(30%);
}

.eightOverPass{
    filter:brightness(20%);
}

.ninthOverPass{
    filter:brightness(10%);
}

.tenthOverPass{
    filter:brightness(0%);
}

.createNewGridButton{
    background-color: hotpink;
    margin-bottom: 2%;
}
